.Hero-container{
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: #ff8f8f;
    margin: 20px 30px;
    padding: 25px solid #492b2b;
    border-radius: 12px;

}
.Hero-container img{
    width: 250px;
    height: 250px;
   text-align: justify;
    margin: 25 30px;
    border: #f3a2a2 rgb(94, 72, 243);
    padding: 30px solid #6a2222;
}
body{ 
    max-width: 1270px;
    background-color: #6fdfec;
margin: 25px 30px;
    font-family: Arial, sans-serif;
    color: #643131;
    padding: 40px solid #841818;


}
.Hero-container div{
    text-align: justify;
    
    text-align: center;
    margin-bottom: 10
    px;
}
.Hero-container button{

background-color: #6a2222;
    color: #f3a2a2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;


}